# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master


pool:
  vmImage: 'ubuntu-latest'

variables:
  imageName: marietposthumus:v1

steps:
- script: |
    az acr login -n marietposthumus -u marietposthumus -p aHNZS4zJZyzsGla/9JvkF/TtLtFS6gFV -g containergroup --subscription 772b2fb6-7318-4717-a013-09a2fe73151a
    docker build -t $(dockerId).azurecr.io/$(imageName) .
    docker push marietposthumus.azurecr.io/marietposthumus:v1

  env:
    pswd: $(dockerPassword)

# docker build -t marietposthumus .
# >> docker tag marietposthumus:latest marietposthumus.azurecr.io/marietposthumus:v1
# >> docker push marietposthumus.azurecr.io/marietposthumus:v1
# >> az container create --resource-group containergroup --name marietposthumus --image marietposthumus.azurecr.io/marietposthumus:v1 --dns-name-label marietposthumus --ports 80 --location westeurope

