# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master


pool:
  vmImage: 'ubuntu-latest'

variables:
  dockerId: marietposthumus
  imageName: marietposthumus:v1

steps:
- script: |
    docker build -t $(dockerId).azurecr.io/$(imageName) .
    echo | set /p=$(pswd) | docker login --username marietposthumus --password-stdin


    docker login -u $(dockerId)  --password-stdin $(dockerId).azurecr.io
    docker push $(dockerId).azurecr.io/$(imageName)
  env:
    pswd: $(dockerPassword) 


- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'


# docker build -t marietposthumus .
# >> docker tag marietposthumus:latest marietposthumus.azurecr.io/marietposthumus:v1
# >> docker push marietposthumus.azurecr.io/marietposthumus:v1
# >> az container create --resource-group containergroup --name marietposthumus --image marietposthumus.azurecr.io/marietposthumus:v1 --dns-name-label marietposthumus --ports 80 --location westeurope